body{
    background-color: #e5e909;
    margin:0;
}
.menu{
    list-style: none;
    padding: 0;
    background: #ccc;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: #4c09e9;
}
h1{
    color: beige;
    text-align: center;
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: aliceblue;
    text-align: center;
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
    border: #ccc;
    margin: auto;
}
.Imagen{
    width: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.Imagen:hover{
 /* transform:rotate(30deg);    */   
    transform: scale(1.2);
}


